* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(./laptop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  overflow-y: hidden;
}

nav {
  padding: 1rem 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 140rem;
  height: 5.6rem;
  align-items: center;
  position: relative;
}
#check {
  display: none;
}
nav::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

nav::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
}

nav .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav img {
  object-fit: cover;
}

nav ul {
  /* width: 100%; */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 100px;
  font-size: 1.4rem;
}
nav li {
  height: 50px;
}

nav a {
  /* height: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  letter-spacing: 5px;
  text-shadow: 3px 3px 4px gold; */
}
nav a {
  text-decoration: none;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  transition: all 100ms ease-in-out 0s;
  cursor: pointer;
  transform: scale(1);
  color: gold;
  text-shadow: 3px 3px 4px white;
}

nav a:hover {
  border-bottom: 2px solid gold;
  color: white;
  text-shadow: 3px 3px 4px gold;
}

#hamburger {
  position: absolute;
  right: 2rem;
  font-size: 2.8rem;
  color: gold;
  cursor: pointer;
  display: none;
}

@media (max-width: 480px) {
  #check:checked ~ label #menu-open {
    display: none;
  }
  #check:checked ~ label #menu-close {
    display: block;
  }

  #check:checked ~ nav {
    height: 25rem;
  }

  #check:checked ~ nav a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.15s * var(--i));
  }

  nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    flex-direction: column;
    transition: 0.3s ease;
  }

  .links {
    flex-direction: column;
  }
  nav a {
    margin-top: 1.5rem;
    transform: translateY(-5rem);
    opacity: 0;
    transition: 0.3s ease;
  }

  #hamburger {
    display: inline-flex;
  }

  #menu-close {
    display: none;
  }
}

.button {
  padding: 20px 20px;
}

.btn {
  border: 1px solid white;
  color: white;
  padding: 1rem 30px;
  background: transparent;
  border-radius: 10px;
  letter-spacing: 5px;
}

.container {
  background: white;
  border: 1px solid white;
  border-radius: 10px;
  min-width: 300px;
  padding: 1.5rem;
  margin-top: 150px;
  margin-left: 20px;
  text-align: center;
  justify-self: center;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 95%;
}

.btn2 {
  background-color: gold;
  color: black;
  border-radius: 10px;
  padding: 0 20px;
  text-align: center;
  margin: 10px 30%;
}

h1 {
  text-shadow: 3px 3px 4px yellow, 1px 5px 3px green;
}

form {
  text-align: justify;
  padding: 0 10px;
}

.rme {
  text-align: center;
}
input[type="text"],
input[type="password"] {
  width: 80%;
  padding: 0.5rem;
}

@media (max-width: 475px) {
  nav {
    display: flex;
    flex-direction: column;
  }
  form {
    justify-content: center;
  }
}

@media (max-width: 640px) {
  nav {
    display: flex;
    flex-direction: column;
  }
  form {
    justify-content: center;
  }
}

@media (max-width: 761px) {
  nav {
    display: flex;
    flex-direction: column;
  }
  form {
    justify-content: center;
  }
}
